<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="20; URL=http://localhost:8000/risk">

    <title>Mayan Capital</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">
    

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- For chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Angular script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="pull-left"><img src="pictures/logomayan.jpg" style="width: 225px; height: 50px; border: 2px solid #1f4787; "></a> 
            </div>
           
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                   <li>
                        <a href="risk"><i class="fa fa-fw fa-dashboard"></i> Risk report</a>
                    </li>
                    <li>
                        <a href="monitor"><i class="fa fa-fw fa-file"></i> Monitor process</a>
                    </li>
                    <li>
                        <a href="monitorpnl"><i class="fa fa-fw fa-table"></i> Monitor PNL</a>
                    </li>
                    <li>
                        <a href="indicator"><i class="fa fa-fw fa-edit"></i> Indicator</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Risk Report
                        </h1>
                        <ol class="breadcrumb" style="background-color: #1b4484;">
                            <li class="active" style="color: white;>
                                <i class="fa fa-dashboard" style="color: white;"></i>P&L AND RISK EXPOSURES - Aggregated
                            </li>
                        </ol>
                    </div>
                </div>
            
                <!-- /.row -->

                <div class="row">
                 
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Month To Date</th>
                                                <th>Year To Date</th>
                                                <th>Since Inception</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in pnla1">
                                                <td>{{x.id}}</td>
                                                <td>{{x.mtd}}</td>
                                                <td>{{x.ytd}}</td>
                                                <td>{{x.si}}</td>                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                   <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Month To Date</th>
                                                <th>Year To Date</th>
                                                <th>Since Inception</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in pnla2">
                                                <td>{{x.Id}}</td>
                                                <td>{{x.mdt}}</td>
                                                <td>{{x.ytd}}</td>
                                                <td>{{x.si}}</td>                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
                <!-- /.row -->
                         <ol class="breadcrumb" style="background-color: #1b4484;">
                            <li class="active" style="color: white;>
                                <i class="fa fa-dashboard"></i>P&L AND RISK EXPOSURES - Detailed
                            </li>
                        </ol>
                  <!-- /.row -->

                <div class="row">
                 
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                P&L per industry
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                       <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Month To Date</th>
                                                <th>Year To Date</th>
                                                <th>Since Inception</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in pnldi">
                                                <td>{{x.id}}</td>
                                                <td>{{x.mtd}}</td>
                                                <td>{{x.ytd}}</td>
                                                <td>{{x.si}}</td>                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Average net exposure per Industry
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                     <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Month To Date</th>
                                                <th>Year To Date</th>
                                                <th>Since Inception</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in pnldiavg">
                                                <td>{{x.Id}}</td>
                                                <td>{{x.mtd}}</td>
                                                <td>{{x.ytd}}</td>
                                                <td>{{x.si}}</td>                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                    </div>
                </div>
                 <!-- /.row -->
                         <ol class="breadcrumb" style="background-color: #1b4484;">
                            <li class="active" style="color: white;>
                                <i class="fa fa-dashboard"></i>MARKET SUMMARY 
                            </li>
                        </ol>
                  <!-- /.row -->

                <div class="row">
                 
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Month To Date</th>
                                                <th>Year To Date</th>
                                                <th>Since Inception</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in ms1">
                                                <td>{{x.Id}}</td>
                                                <td>{{x.mtd}}</td>
                                                <td>{{x.ytd}}</td>
                                                <td>{{x.si}}</td>                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                       <thead>
                                            <tr>
                                                <th></th>
                                                <th>Corr to S&P500</th>
                                                <th>Corr to Strategies4</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in ms2">
                                                <td>{{x.Id}}</td>
                                                <td>{{x.ctsp500}}</td>
                                                <td>{{x.cts4}}</td>                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- /.row -->
                         <ol class="breadcrumb" style="background-color: #1b4484;">
                            <li class="active" style="color: white;>
                                <i class="fa fa-dashboard"></i>ACTIVITY AND LIQUIDITY
                            </li>
                        </ol>
                  <!-- /.row -->

                <div class="row">

                 <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="text-align: center;">       
                               <b>ACTIVITY AND LIQUIDITY</b>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Month To Date</th>
                                                <th>Year To Date</th>
                                                <th>Since Inception</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in anl">
                                                <td>{{x.Id}}</td>
                                                <td>{{x.mtd}}</td>
                                                <td>{{x.ytd}}</td>
                                                <td>{{x.si}}</td>                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                           <div class="panel-heading" style="text-align: center;">
                               Total volume traded per Industry
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">

                                     <canvas id="myChartindustry"></canvas>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="panel panel-default">
                           <div class="panel-heading" style="text-align: center;">
                               Historical daily P&L distribution
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">

                                     <canvas id="myChart2"></canvas>

                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>

                  <!-- /.row -->
                         <ol class="breadcrumb" style="background-color: #1b4484;">
                            <li class="active" style="color: white;>
                                <i class="fa fa-dashboard"></i>STRATEGIES DETAILS
                            </li>
                        </ol>
                  <!-- /.row -->

                <div class="row">
                 
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                           <div class="panel-heading" style="text-align: center;">
                               Strategies description
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>SPY</th>
                                                <th>Other Strategies4</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in sd1">
                                                <td>{{x.Id}}</td>
                                                <td>{{x.spy}}</td>
                                                <td>{{x.os}}</td>
                                                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="text-align: center;">
                               Strategies description
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Style</th>
                                                <th>Underlying Asset</th>
                                                <th>Holding Period </th>
                                                <th>Maximun exposure to one name</th>
                                                <th>Alpha Exposure</th>
                                                <th>Integrated since</th>
                                            </tr>
                                        </thead>
                                        </thead>
                                         <tbody>
                                            <tr ng-repeat="x in sd2">
                                                <td>{{x.Id}}</td>
                                                <td>{{x.style}}</td>
                                                <td>{{x.ua}}</td>
                                                <td>{{x.hp}}</td>
                                                <td>{{x.meton}}</td>
                                                <td>{{x.alphaexp}}</td>
                                                <td>{{x.is}}</td>                 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
            <!-- /.container-fluid -->

              <!-- /.row -->
                         <ol class="breadcrumb" style="background-color: #1b4484;">
                            <li class="active" style="color: white;>
                                <i class="fa fa-dashboard"></i>Footnotes
                            </li>
                        </ol>
                  <!-- /.row -->

                <div class="row">
                 
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                           
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                           <ul class="list-group">
                                            <li class="list-group-item">1 - Highest end of day concentration in one security (includes ETF positions except SPY).</li>
                                            <li class="list-group-item">2 - Average end of day net exposure of the portfolio</li>
                                            <li class="list-group-item">3 - Average end of day net exposure to the S&P 500</li>
                                            <li class="list-group-item">4 - Average correlation to Mayan's strategies over the period</li>
                                            <li class="list-group-item">5 - Daily notional traded compared to the NAV</li>
                                            <li class="list-group-item">6 - Average volume impact compared to the total volume traded in that security</li>
                                          </ul>                    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

                  <!-- /.row -->
                         <ol class="breadcrumb" style="background-color: #1b4484;">
                            <li class="active" style="color: white;>
                                <i class="fa fa-dashboard"></i>Disclaimer
                            </li>
                        </ol>
                  <!-- /.row -->

                <div class="row">
                 
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                           
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                          <h1 style="font-size: 15px;">
                                              Future performance may be affected by existing and/or new events or factors, which may or may not have played any material role in the past. Therefore no assurance or guarantee can be given that the actual trading results achieved using those strategies and/or models employed during this simulation, and/or others that are being used and/or may be used in the future, are or will be as successful and/or achieve the same results as those presented above. PAST PERFORMANCE, ESPECIALLY SIMULATED PERFORMANCE, IS NOT AN INDICATOR OR GUARANTEE OF FUTURE RESULTS. The results of the simulation are being provided to you by the Investment Manager solely to assist you in considering your potential interest in making an investment in a potential future strategy, account or product to be managed by the Investment Manager.
                                              <br>
                                              <br>

NEITHER THIS DOCUMENT NOR ANY OTHER ACCOMPANYING INFORMATION CONSTITUTE AN OFFER TO SELL OR THE SOLICITATION OF ANY OFFER TO BUY ANY SECURITIES WHICH MAY ONLY BE MADE AT THE TIME A QUALIFIED OFFEREE RECEIVES A CONFIDENTIAL OFFERING MEMORANDUM OR INVESTMENT MANAGEMENT AGREEMENT DESCRIBING THE APPLICABLE OFFERING AND RELATED OPERATING DOCUMENT(S) AND SUBSCRIPTION AGREEMENT, AND THE TERMS OF THIS DOCUMENT AND
ANY ACCOMPANYING INFORMATION ARE QUALIFIED IN THEIR ENTIRETY BY THE TERMS THEREOF. IN THE EVENT OF ANY CONFLICT BETWEEN THIS DOCUMENT AND ANY ACCOMPANYING INFORMATION, THE CONFIDENTIAL OFFERING
MEMORANDUM OR INVESTMENT MANAGEMENT AGREEMENT AND RELATED OFFERING MATERIALS SHALL CONTROL. THE SECURITIES DISCUSSED HEREIN SHALL NOT BE OFFEREDOR SOLD, NOR SHALL THERE BE ANY SOLICITATION OF ANY OFFER TO
BUY SUCH SECURITIES, IN ANY JURISDICTION IN WHICH SUCH OFFER, SALE OR SOLICITATION WOULD BE UNLAWFUL UNTIL THE REQUIREMENTS OF THE LAWS OF SUCH JURISDICTIONS HAVE BEEN SATISFIED.
<br>
<br>
An investment in any investment strategy or product is speculative and involves significant risk, including the risk of a total loss of capital. Opportunities for withdrawal or transfer of interests in a strategy may be limited and therefore an investor may not have access to its capital when it desires.

This information is being furnished to the recipient on a confidential basis, is not intended for public use or distribution, and by accepting this file, you agree to keep confidential the existence of this document and the information contained herein.

The recipient should not disclose, reproduce, distribute or otherwise make available the existence of and/or all or any portion of the information contained herein to any other person (other than its employees, officers and advisors on a need-to-
know basis, whom the recipient will cause to keep the information confidential) without the Investment Manager's prior written consent
                                          </h1>          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <br>
    <!-- myCtrl.js -->
    <script type="text/javascript" src="app.js"></script>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

     <!--     Chart.js -->
    <script src="js/chart.js"></script>

</body>

</html>
